.btn-review {
  background-color: var(--color-link-hover-color);
  padding: 10px 40px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xlg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.btn-close {
  padding: 0;
}

.header-group {
  display: flex;
  gap: 130px;
  justify-content: flex-end;
  align-items: center;
}

.label {
  color: var(--color-cello);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  margin-bottom: 10px;
}

.textarea-size {
  width: 450px;
  height: 150px;
  padding: 15px 22px;
  border-radius: var(--border-radius-sm);
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
