.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-white);
  padding: 59px 77px;
  width: 600px;
  margin: 100px auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body,
.modal-footer {
  display: flex;
  justify-content: center;
}
