.box-image {
  position: relative;
}

.badge::before {
  content: '';
  position: absolute;
  padding: 7px;
}

.badge::after {
  content: 'HOT';
  position: absolute;
  color: var(--color-white);
  background-color: var(--color-red);
  top: 0;
  left: 0;
  padding: 4px 7px;
  border-radius: var(--border-radius-sm);
}

.price {
  color: var(--color-dodger-blue);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.review {
  color: var(--color-loblolly);
  padding: 0 5px 0 16px;
}

.product-content {
  padding-left: 15px;
  gap: 20px;
}

.discount {
  color: var(--color-bali-hai);
}

.group {
  padding-left: 10px;
  gap: 9px;
}

.percentage {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-pink);
}
