.box-image {
  position: relative;
}

.badge::before {
  content: '';
  position: absolute;
  padding: 7px;
}

.badge::after {
  content: 'HOT';
  position: absolute;
  color: var(--color-white);
  background-color: var(--color-red);
  top: 0;
  left: 0;
  padding: 4px 7px;
  border-radius: var(--border-radius-sm);
}

.product-content {
  padding-left: 15px;
  gap: 15px;
}

.group {
  padding-left: 10px;
  gap: 9px;
}
