.gallery {
  gap: 10px;
  margin-top: 110px;
}

.item-gallery {
  border: var(--border-radius-xsm) solid var(--color-porcelain);
  cursor: pointer;
}

.item-gallery.active {
  border: var(--border-radius-xsm) solid var(--color-blue);
}
