.text-primary {
  color: var(--color-secondary);
  font-size: var(--font-size-2xlg);
  font-weight: var(--font-weight-medium);
}

.text-secondary {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.text-ellipsis {
  max-width: 538px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
