.text-size-sm {
  font-size: var(--font-size-sm);
  line-height: 21px;
}

.text-size-lg {
  font-size: var(--font-size-lg);
  line-height: 27px;
}

.text-size-xlg {
  font: var(--font-size-xlg);
  line-height: 31px;
}

.ellipsis {
  text-overflow: ellipsis;
}
