.icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-close {
  background-image: url('../assets/icons/close.png');
  width: 25px;
  height: 22px;
}

.icon-sm {
  width: 40px;
  height: 18px;
}

.icon-facebook {
  width: 8px;
  height: 16px;
  background-image: url('../assets/icons/social-facebook.png');
}

.icon-twitter {
  width: 18px;
  height: 13px;
  background-image: url('../assets/icons/social-twitter.png');
}

.icon-card-master {
  background-image: url('../assets/images/card-master.png');
}

.icon-card-paypal {
  background-image: url('../assets/images/card-paypal.png');
}

.icon-card-shape {
  background-image: url('../assets/images/card-shape.png');
}

.icon-card-union {
  background-image: url('../assets/images/card-union.png');
}
