.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.gap-20 {
  gap: 20px;
}

.gap-23 {
  gap: 23px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-70 {
  gap: 70px;
}

.gap-79 {
  gap: 79px;
}

.gap-117 {
  gap: 117px;
}
