.btn {
  cursor: pointer;
  border: none;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-white);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  line-height: 24px;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--color-btn-primary);
}

.btn-secondary {
  background-color: var(--color-secondary);
}

.btn-link {
  font-size: var(--font-size-sm);
  color: var(--color-link-hover-color);
}
