.task-content {
  padding: 8px 10px;
}

.task-name {
  font-size: var(--fs-x-small);
  font-weight: var(--fw-normal);
  color: var(--color-text-primary);
  padding: 5px 0;
  line-height: 21px;
}

.description {
  font-size: var(--fs-small);
  color: var(--color-dove-gray);
}