.task-content {
    padding: 8px 0;
    border-bottom: 1px solid var(--color-nobel);
}

.task-name {
    font-size: var(--fs-small);
    font-weight: var(--fw-normal);
    color: var(--color-text-primary);
    padding: 5px 0;
}

.description {
    font-size: var(--fs-small);
    color: var(--color-dove-gray);
}