.pagination {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  background-color: var(--color-gray-100);
}

.page-item {
  padding: 18px 25px;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-lg);
  color: var(--color-secondary);
  background-color: var(--color-gray-100);
}

.page-item.active {
  background-color: var(--color-dodger-blue);
  color: var(--color-white);
}
